body{
    background-image: url("download\ \(1\).jpg");
    background-size: cover;
    color: white;
    font-family: 'Fredoka One', cursive;
}
h2{
    font-size: 60px;
}
#output{
    background-color: slategray;
    padding: 60px;
    border-radius: 30px;
}
input{
    color: black;
}
label{
    font-size: 30px;
}
button{
    border-radius: 30px;
    padding: 20px;
    background-color: slateblue;
    width: 25%;
    border-color: white;
}
